extends layout

block content
    h1= title
    div.newemployee
        form( method="post")
            div
                div
                    span.label :שם
                    select(name="name")
                        - each name in names
                            option(value="#{name}") #{name}
                div#deleteEmployeeSubmit
                input(id="round",type="submit", value="מחק")
            a(href="/")!= "חזרה לכניסות יציאות"