body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 13px;
  text-align: center;
  text-stroke: 1px rgba(255,255,255,0.1);
  color: #555;
  background-image: url('images/Dark-Blue-Background.jpg')
}
a {
  color: #00b7ff;
  text-align: right;
}
h1,
h2 {
  margin: 0;
  font-size: 22px;
  color: #ddd;
}
h1 {
  text-shadow: 1px 2px 2px #ddd;
  font-size: 60px;
}
#awcc1411990878436 {
  position: fixed;
  top: 30px;
  right: 5px;
  width: 216px;
}
#clock {
    position: fixed;
    top: 30px;
    left: 5px;
}

.employee_table {
    margin:0px;padding:0px;
    width:100%;
    box-shadow: 10px 10px 5px #888888;
    border:1px solid #000000;   
    position: fixed;
    top: 240px;
    left: 5px;
    -moz-border-radius-bottomleft:15px;
    -webkit-border-bottom-left-radius:15px;
    border-bottom-left-radius:15px;

    -moz-border-radius-bottomright:15px;
    -webkit-border-bottom-right-radius:15px;
    border-bottom-right-radius:15px;

    -moz-border-radius-topright:15px;
    -webkit-border-top-right-radius:15px;
    border-top-right-radius:15px;

    -moz-border-radius-topleft:15px;
    -webkit-border-top-left-radius:15px;
    border-top-left-radius:15px;
}.employee_table table{
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;
}.employee_table tr:last-child td:last-child {
    -moz-border-radius-bottomright:15px;
    -webkit-border-bottom-right-radius:15px;
    border-bottom-right-radius:15px;
}
.employee_table table tr:first-child td:first-child {
    -moz-border-radius-topleft:15px;
    -webkit-border-top-left-radius:15px;
    border-top-left-radius:15px;
}
.employee_table table tr:first-child td:last-child {
    -moz-border-radius-topright:15px;
    -webkit-border-top-right-radius:15px;
    border-top-right-radius:15px;
}.employee_table tr:last-child td:first-child{
    -moz-border-radius-bottomleft:15px;
    -webkit-border-bottom-left-radius:15px;
    border-bottom-left-radius:15px;
}.employee_table tr:hover td{

}
.employee_table tr:nth-child(odd){ background-color:#aad4ff; }
.employee_table tr:nth-child(even)    { background-color:#ffffff; }.employee_table td{
    vertical-align:middle;


    border:1px solid #000000;
    border-width:0px 1px 1px 0px;
    text-align:center;
    padding:7px;
    font-size:14px;
    font-family:Arial;
    font-weight:normal;
    color:#000000;
}.employee_table tr:last-child td{
    border-width:0px 1px 0px 0px;
}.employee_table tr td:last-child{
    border-width:0px 0px 1px 0px;
}.employee_table tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
.employee_table tr:first-child td{
    background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
    background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

    background-color:#005fbf;
    border:0px solid #000000;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:14px;
    font-family:Helvetica;
    font-weight:bold;
    color:#ffffff;
}
.employee_table tr:first-child:hover td{
    background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
    background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

    background-color:#005fbf;
}
.employee_table tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.employee_table tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}



#employees {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}
#employees .employee {
  margin: 20px;
}
#employees .employee .created_at {
  display: none;
}
#employees .employee .title {
  font-weight: bold;
  background-color: #eee;
}
#employees .employee .name {
  background-color: #ffa;
}
.newemployee {
  border: 3px;
  border-color: #000;
  border-style: dotted;
  width: 900px;
  height: 450px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 14px;
}

input#round{
    width:100px; /*same as the height*/
    height:100px; /*same as the width*/
    background-color:#ff0000;
    border:1px solid #ff0000; /*same colour as the background*/
    color:#fff;
    font-size:1.6em;
    /*set the border-radius at half the size of the width and height*/
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    /*give the button a small drop shadow*/
    -webkit-box-shadow: 0 0 10px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 10px rgba(0,0,0, .75);
    box-shadow: 2px 2px 15px rgba(0,0,0, .75);
}
/***NOW STYLE THE BUTTON'S HOVER STATE***/
input#round:hover{
    background:#c20b0b;
    border:1px solid #c20b0b;
    /*reduce the size of the shadow to give a pushed effect*/
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
    box-shadow: 0px 0px 5px rgba(0,0,0, .75);
}
/***FIRST STYLE THE BUTTON***/
input#bigbutton {
    width:500px;
    background: #3e9cbf; /*the colour of the button*/
    padding: 8px 14px 10px; /*apply some padding inside the button*/
    border:1px solid #3e9cbf; /*required or the default border for the browser will appear*/
    cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
    /*style the text*/
    font-size:1.5em;
    font-family:Oswald, sans-serif; /*Oswald is available from http://www.google.com/webfonts/specimen/Oswald*/
    letter-spacing:.1em;
    text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3); /*give the text a shadow - doesn't appear in Opera 12.02 or earlier*/
    color: #fff;
    /*use box-shadow to give the button some depth - see cssdemos.tupence.co.uk/box-shadow.htm#demo7 for more info on this technique*/
    -webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
    box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
    /*give the corners a small curve*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/***SET THE BUTTON'S HOVER AND FOCUS STATES***/
input#bigbutton:hover, input#bigbutton:focus {
    color:#dfe7ea;
    /*reduce the size of the shadow to give a pushed effect*/
    -webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
    box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
}
input[type =text]
{
    width: 268px;
    display:inline-block;
    padding:5px;
    font-size:18px;
    line-height: 1;
    border:1px solid #abe;
    border-radius: 0;
    height: 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #abe;
    float:inherit;
    clear:both;
}
input[type =time]
{
    width: 100px;
    display:inline-block;
    padding:5px;
    font-size:18px;
    line-height: 1;
    border:1px solid #abe;
    border-radius: 0;
    height: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #abe;
    float:inherit;
    clear:both;
}
select {
    width: 268px;
    padding:5px;
    float:inherit;
    font-size:18px;
    text-align: right;
    line-height: 1;
    border:1px solid #abe;
    display:inline-block;
    border-radius: 0;
    height: 36px;
    background: #abe;
    clear:both;
}
input[type =checkbox] {
  width: 50px;
  zoom: 2.5;
  margin-left: 16px;
  float: inherit;
  clear:both;
}

.label {
  text-align: right !important;
  width: 100px;
  display: inline-block;
  color: #ddd;
  height: 36px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  float:right;
  clear:both;
}


